<ion-header>
  <ion-navbar>
    <ion-title>
      Dublin Bus
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <section class="nearest-stops">

  <h4 class="nearest-stops-heading">Stops Near Me <ion-icon class="refresh-icon" (click)="refreshStops()" name="md-refresh"></ion-icon></h4>

    <section *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </section>

    <section *ngIf="canGetLocation === false" class="spinner-container">
      <p>unable to get your current location</p>
    </section>

    <ion-scroll *ngIf="searching === false && canGetLocation === true" scrollX="true" direction="x">
      <ion-card *ngFor="let closestStop of closestStops" (click)="goToBusStopPage(closestStop.stopid, closestStop.fullname, closestStop.operators, closestStop.latitude, closestStop.longitude)">
        <ion-card-header class="card-header">
            <p class="stop-name">{{closestStop.fullname}}: {{closestStop.stopid}}</p>
            <p class="stop-distance"> <ion-icon name="ios-navigate"></ion-icon>{{closestStop.distance}}</p>
          </ion-card-header>
          <ion-card-content class="card-content">
            Serves <span text-wrap *ngFor="let operator of closestStop.operators">{{operator.routes}}</span>
        </ion-card-content>
      </ion-card>
    </ion-scroll>

  </section>

  <section class="main-menu">
    <ion-list>
      <button ion-item class="menu-item" (click)="goToFavoritesPage()">
        <ion-icon class="left-icon heart" name="md-heart" item-start></ion-icon>
          <p>Favorites</p>
          <ion-icon class="arrow-icon" name="ios-arrow-forward-outline"  item-end></ion-icon>
      </button>

      <button ion-item (click)="goToAllBusStopsPage()">
        <ion-icon class="left-icon heart" name="md-bus" item-start></ion-icon>
        <p>Bus Stops</p>
        <ion-icon class="arrow-icon" name="ios-arrow-forward-outline"  item-end></ion-icon>
      </button>

      <button ion-item (click)="goToAllRoutesPage()">
          <ion-icon class="left-icon heart" name="md-compass" item-start></ion-icon>
          <p>Routes</p>
          <ion-icon class="arrow-icon" name="ios-arrow-forward-outline"  item-end></ion-icon>
      </button>

      <!--<button ion-item (click)="goToCalculateFare()">
        <ion-icon class="left-icon heart" name="logo-euro" item-start></ion-icon>
        <p>Fare Calculator</p>
        <ion-icon class="arrow-icon" name="ios-arrow-forward-outline"  item-end></ion-icon>
      </button>-->

      <button ion-item (click)="goToMap()">
        <ion-icon class="left-icon heart" name="md-pin" item-start></ion-icon>
        <p>Stops Near Me</p>
        <ion-icon class="arrow-icon" name="ios-arrow-forward-outline"  item-end></ion-icon>
      </button>

      <button ion-item (click)="goToNews()">
        <ion-icon class="left-icon heart" name="md-list-box" item-start></ion-icon>
        <p>News</p>
        <ion-icon class="arrow-icon" name="ios-arrow-forward-outline"  item-end></ion-icon>
      </button>

    </ion-list>
  </section>  

</ion-content>
