<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding> 

    <section *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </section>

    <ion-card class="item-container" padding *ngFor="let newsItem of newsItems" (click)="toggleDetails(newsItem)">
      <ion-grid>
        <ion-row>
          <ion-col class="icon-col" col-1>
              <ion-icon color="primary" item-right [name]="newsItem.icon"></ion-icon>
          </ion-col>
          <ion-col class="title" col-10>
              {{newsItem.title}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--<ion-icon color="primary" item-right [name]="newsItem.icon"></ion-icon>
      <section text-wrap class="title">{{newsItem.title}}</section>-->
      <div class="item-description" *ngIf="newsItem.showDetails">
      <p class="date">{{newsItem.date}}</p>
      <p
        [innerHTML]="newsItem.description"> 
      </p>
      </div>
    </ion-card>

</ion-content>
