page-news {

    img {
        display: none;
    }

    .item-description {

    }    

    ion-card {
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 50px !important;  
    }

}
