page-favorites {

    .reorder-icon {
        position: absolute;
        font-size: 2em;
        right: 5%;
        top: 25%;
    }

    .item-options {
        font-size: 10px !important;
        color: yellow !important;
    }
}
