<ion-header>

    <ion-navbar>
        <ion-title>{{fullname}}</ion-title>
        <ion-icon (click)="removeFromFavorites()" class="isFavorite favorite-icon" *ngIf="isFavorite === true" ios="md-heart" md="md-heart"></ion-icon>
        <ion-icon (click)="addToFavorites()" class="isNotFavorite favorite-icon" *ngIf="isFavorite === false" ios="md-heart" md="md-heart"></ion-icon>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <section class="stop-information">
        <h4>{{fullname}}</h4>
        <p> Serves: <span *ngFor="let operator of operators"> {{operator}} </span></p>
        <ion-icon class="map-icon" (click)="viewOnMap()" name="md-pin"></ion-icon>
    </section>


</ion-content>

<ion-content class="real-time-information">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <section *ngIf="searching && notRefreshing" class="spinner-container">
        <ion-spinner></ion-spinner>
    </section>

    <section *ngIf="realTimeAvailable === false" class="spinner-container">
        <p>no realtime information available</p>
    </section>

    <ion-list>
        <ion-item *ngFor="let buse of buses">
            <p>{{buse.route}}</p>
            <p>{{buse.origin}} -> {{buse.destination}}</p>
            <section class="due-time">
                <p *ngIf="buse.duetime === 'Due'">{{buse.duetime}}</p>
                <p *ngIf="buse.duetime <= 1">{{buse.duetime}} min</p>
                <p *ngIf="buse.duetime > 1">{{buse.duetime}} mins</p>
            </section>
        </ion-item>
    </ion-list>
</ion-content>
