<!--
  Generated template for the AllBusStopsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>allBusStops</ion-title>
    <!--<ion-icon (click)="search()" class="search-icon" ios="md-search" md="md-search"></ion-icon>-->
  </ion-navbar>

</ion-header>

<ion-content class="search-content">
  <ion-searchbar class="searchbar" placeholder="Search by stop name or number" [(ngModel)]="searchTerm" (ionInput)="searchStops()"></ion-searchbar>
</ion-content>

<ion-content class="results-content" padding>

   <!-- <ion-searchbar class="searchbar" [(ngModel)]="searchTerm" (ionInput)="searchStops()"></ion-searchbar> -->

    <section *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </section>

    <section class="no-results" *ngIf="resultsFound === false">
      <h3>No Results Found</h3>
    </section>



    <!--<ion-list [virtualScroll]="searchBusStops">

      <ion-item *virtualItem="let busStop" (click)="goToBusStopPage(busStop.stopid, busStop.fullname, busStop.operators, busStop.latitude, busStop.longitude)">
          <p>{{ busStop.stopid }}</p> 
          <p>{{ busStop.fullname }}</p>
      </ion-item>
    
    </ion-list> 

    <h1>----------------------</h1> -->

    <ion-list class="bus-stops" [virtualScroll]="busStops">
      <ion-item *virtualItem="let busStop" (click)="goToBusStopPage(busStop.stopid, busStop.fullname, busStop.operators, busStop.latitude, busStop.longitude)">
        <p>{{ busStop.stopid }}</p> 
        <p>{{ busStop.fullname }}</p>
      </ion-item> 
    </ion-list>
    
    <ion-list>

        <p *ngFor="let errorCode of errorCodes">
            <!--<span *ngIf="errorCode.errorCode === '0'">Request Ok</span> -->
            <span *ngIf="errorCode.errorCode === '1'">No Results Found</span>
            <span *ngIf="errorCode.errorCode === '2'">Missing Parameters</span>
            <span *ngIf="errorCode.errorCode === '3'">Invalid Parameters</span>
            <span *ngIf="errorCode.errorCode === '4'">The Service is Experiencing Scheduled Downtime</span>
            <span *ngIf="errorCode.errorCode === '5'">An Unexpected System Error Occurred</span>
        </p>
        

       <!-- <ion-item *ngFor="let busStop of busStops" (click)="goToBusStopPage(busStop.stopid)">
         <p>{{ busStop.stopid }}</p> 
          <p>{{ busStop.shortname }}</p>
        </ion-item>-->
      
      </ion-list>

</ion-content>
